
/* ==== Findbar ==== */

@keyframes initial-animation {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 20px;
    opacity: 1;
  }
}

@keyframes translucent-disappear {
  0% {
    backdrop-filter: blur(var(--zenarc-translucent-blur-radius));
  }

  99% {
    backdrop-filter: blur(var(--zenarc-translucent-blur-radius));
  }

  100% {
    backdrop-filter: none;
  }
}

@media not (-moz-bool-pref: "zenarc.findbar.disabled") {
  /*noinspection CssInvalidFunction*/
  findbar {
    position: absolute;
    top: 20px;
    width: min(550px, 90%);
    right: 20px;
    min-height: 70px;
    height: auto !important;
    flex-wrap: wrap;
    border-radius: var(--zen-border-radius);
    background: var(--zenarc-translucent-background) !important;
    backdrop-filter: blur(var(--zenarc-translucent-blur-radius));
    border: 1px solid light-dark(rgba(20, 20, 20, 0.2), rgba(235, 235, 235, 0.3)) !important;
    opacity: 1;
    transition: background 0.2s ease, opacity 0.2s ease, visibility 0.2s ease, top 0.2s ease, box-shadow 0.2s ease !important;
    animation: initial-animation 0.2s ease;

    /*noinspection CssInvalidFunction*/

    /* Restore old width */
    @media (-moz-bool-pref: "zenarc.findbar.wider-findbar") {
      width: min(720px, 90%);
    }

    /*noinspection CssInvalidPropertyValue*/
    &:is([hidden="true"]) {
      visibility: inherit !important;
      pointer-events: none !important;
      opacity: 0 !important;
      top: 0 !important;
      animation: translucent-disappear 0.2s linear !important;
      animation-fill-mode: forwards !important;
    }

    /*noinspection CssInvalidFunction*/
    &:has(.findbar-textbox:is([status="notfound"])) {
      @media not (-moz-bool-pref: "zenarc.findbar.disable-not-found-bg") {
        background: color-mix(in srgb, light-dark(rgb(255, 146, 146), rgb(255, 100, 100)) 75%, transparent) !important;

        /*noinspection CssInvalidFunction*/
      }
    }

    /*noinspection CssInvalidPropertyValue*/
    .findbar-closebutton {
      outline: none !important;
      order: 1;
    }

    .findbar-container {
      margin-left: 10px !important;
      margin-bottom: 5px !important;
      flex-wrap: wrap;
      height: auto !important;
      row-gap: 10px;

      /*noinspection CssInvalidFunction*/
      & > :first-child {
        width: 100% !important;
        margin-top: 5px !important;
        padding-bottom: 10px !important;
        border-bottom: 1px solid light-dark(rgba(20, 20, 20, 0.2), rgba(235, 235, 235, 0.3)) !important;

        &::before {
          content: "";
          width: 16px !important;
          min-width: 16px !important;
          background-image: url(chrome://global/skin/icons/search-translucent.svg) !important;
          background-repeat: no-repeat;
          margin-top: 4px;
          margin-right: 15px;
          margin-left: 5px;

          @media (prefers-color-scheme: dark) {
            filter: invert();
          }
        }

        .findbar-textbox {
          background: none !important;
          padding: 0 !important;
          font-size: 16px !important;
          box-shadow: none !important;
          width: 100% !important;
          border: none !important;

          /*noinspection CssInvalidFunction*/

          &::-moz-selection {
            background: light-dark(var(--zenarc-primary-color), color-mix(in srgb, var(--zenarc-colors-primary) 60%, white)) !important;
          }
        }

        toolbarbutton {
          width: 24px !important;
          justify-content: space-between !important;
          padding: 4px !important;
          margin-left: 4px !important;
          margin-right: 0 !important;
        }
      }

      checkbox, label, description {
        margin-left: 4px !important;
        margin-right: 6px !important;
      }

      .findbar-label {
        display: flex;
        flex-basis: 100% !important;

        &:is([hidden="true"]) {
          display: none;
        }
      }

      .found-matches {
        font-size: 14px !important;
        margin-top: 10px !important;

        &:not([hidden]) {
          &::before {
            background-image: url('chrome://browser/skin/zen-icons/search-page.svg') !important;
            background-repeat: no-repeat !important;
            padding-left: 25px !important;
            color: black !important;

            @media (prefers-color-scheme: dark) {
              filter: invert();
            }
          }
        }
      }

      .findbar-find-status {
        display: none;
        margin-left: 29px !important;

        &:is([status="notfound"]) {
          margin-left: 4px !important;
          margin-top: 10px !important;
          font-size: 14px !important;
          font-weight: normal !important;
          flex-basis: 100% !important;

          &::before {
            content: "";
            min-width: 17px !important;
            min-height: 17px !important;
            background-image: url(chrome://global/skin/icons/close.svg) !important;
            margin-right: 8px !important;

            @media (prefers-color-scheme: dark) {
              filter: invert();
            }
          }
        }

        &:is([data-l10n-id]) {
          display: flex;
        }
      }

      .checkbox-label {
        font-size: 12px !important;
      }
    }
  }
}

/* credit Natsumi */