
/* ==Load Bar== */
@media (-moz-bool-pref: "Zenarc.loadingbar.enabled"){
@media (-moz-bool-pref: "zen.view.use-single-toolbar") {
    #zen-appcontent-wrapper {
      position: relative !important;
      background-color: transparent !important; /* The rest of the div remains transparent */
    }
  
    #zen-appcontent-wrapper::before {
      content: "" !important;
      position: absolute !important;
      top: 4px !important;
      left: 4px !important;
      height: 2px !important; /* Height of the top background */
      max-width: calc(100% - 16px) !important; /* Adjust for margins */
      width: var(--bar-pcent) !important; /* Ensure full width or customizable width */
      background-color: var(--zenarc-primary-color) !important; /* Solid color for the bar */
      border-radius: 2px; /* Adjust this value to control the roundness of the ends */
      pointer-events: none !important;
      transition: width 0.5s ease-in-out, background 0.2s ease-in !important; /* Apply smooth transition on width and background */
    }
  
    /* Current tab loading progress and muted status */
    #main-window {
      &:has(.tabbrowser-tab[selected][busy]) {
        --bar-colour: white;
        --bar-pcent: 15%;
      }
  
      &:has(.tabbrowser-tab[selected][busy][pendingicon]) {
        --bar-colour: white;
        --bar-pcent: 45%;
      }
  
      &:has(.tabbrowser-tab[selected][busy][pendingicon][progress]) {
        --bar-colour: white;
        --bar-pcent: 85%;
      }
  
      &:has(.tabbrowser-tab[selected][busy][progress]) {
        --bar-colour: white;
        --bar-pcent: 95%;
      }
  
      
    }
  }
  }
  /* Credit :Tanay Kar */
  /*---LoadBar---*/
  
  /* ==CtrllTabv == */
  .ctrlTab-preview:focus > .ctrlTab-preview-inner,
  #ctrlTab-showAll:focus {
    background-color: var(--zenarc-secondary-color) !important;
    text-shadow: none;
    border-color: var(--zenarc-tertiary-color) !important;;
    border-radius: 10px !important;
    
  }
  #ctrlTab-panel {
    --panel-border-radius: 24px !important;
    --panel-background: var(--zenarc-accent-color-dark-transparent) !important;
  }
  .ctrlTab-preview:hover {
    border: none !important;
  }
  
  .ctrlTab-preview-inner {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
  
    .ctrlTab-canvas {
      box-shadow: none !important;
      border-radius: 8px !important;
      overflow: hidden !important;
    }
  
    .ctrlTab-favicon-container {
      width: fit-content !important;
      height: fit-content !important;
    }
  
    .ctrlTab-favicon {
      background: transparent !important;
      box-shadow: none !important;
      margin: 0 !important;
      padding: 0 !important;
      width: 20px !important;
      height: 20px !important;
    }
  
    .ctrlTab-label {
      flex: 1 !important;
      flex-shrink: 0 !important;
      justify-content: left !important;
  
      &::before {
        text-shadow: none !important;
        font-size: 14px !important;
        margin: auto 0 !important;
      }
    }
  }
  
  
  #customization-panelWrapper {
    --panel-arrow-offset: 0px !important;
  }
  .ctrlTab-favicon[src] {
    border-radius: 100px !important;
  }

  /* ==Pip== */
  @-moz-document url-prefix("chrome:") {
  
    .control-item.control-button {
      background-color: rgba(0, 0, 0, 0) !important;
    }
    
    #close, #unpip {
      fill: white !important;
      padding: 5px !important;
      top: 2px !important;
    
    &:hover {
        &::after {
          display: none !important;
        }
      }
    }
    
    #close {
      left: auto !important;
      right: 5px !important;
    }
    
    #unpip {
      left: 5px !important;
      right: auto !important;
    }
    
    #controls {
      margin: 0 !important;
      height: 100% !important;
      width: 100% !important;
    
    transition: background-color 160ms linear;
    
    &:hover {
        background-color: rgba(0, 0, 0, 0.69) !important;
      }
    }
    
    #controls-bottom-gradient {
      display: none !important;
    }
    
    #controls-bottom {
      display: flex;
      flex-direction: column-reverse;
      bottom: 5px !important;
    }
    
    /* progress bar */
    .scrubber-no-drag {
      display: flex !important;
      margin: 0 !important;
      height: 100% !important;
    }
    
    #scrubber::-moz-range-thumb {
      width: 0 !important;
      height: 0 !important;
      border: none !important;
    }
    
    #scrubber {
      height: 5px !important;
      transition: all 160ms linear !important;
      overflow: hidden;
      padding: 0 !important;
      border: 5px solid rgba(0, 0, 0, 0);
    
    &:hover {
        height: 8px !important;
      }
    }
    
    #scrubber {
      &::-moz-range-track, &::-moz-range-progress {
        height: 100% !important;
      }
    }
    
  }
  /* Credit: @shldk on github */
  /* --Pip-- */