/* URLBar Background Blur */

#browser:has(#urlbar[open][zen-floating-urlbar="true"]) .browserContainer {
    pointer-events: none;
    filter: blur(1px) brightness(70%) saturate(50%) opacity(70%) !important;
    scale: 1.1 !important; /* Zoom effect, remove the // to enable */
    }

  #browser .browserContainer {
  transition: all 0.15s ease-in-out !important;
  } 
  
  #urlbar:is([breakout][breakout-extend], [breakout][usertyping][focused]):after {
    top: -6px !important;
  }
  
  .urlbarView-body-inner {
    #urlbar[open] > .urlbarView > .urlbarView-body-outer > & {
      border-top: none !important;
    }
  }
  
  .search-one-offs {
    display: none !important;
  }
  
  #urlbar[breakout-extend="true"] > #urlbar-background {
    background: var(--zenarc-translucent-background) !important;
/*     background: red !important; */
    backdrop-filter: blur(var(--zenarc-translucent-blur-radius)) !important;
    border-radius: var(--zen-border-radius) !important;
    border-color: transparent !important;
  }
  
  #urlbar[breakout-extend] {
    #identity-permission-box,
    #tracking-protection-icon-container,
    #page-action-buttons {
      display: none !important;
    }
  
    #identity-icon-box {
      margin: 5px !important;
      scale: 150%;
      border-radius: 6px !important;
    }
  
    #identity-box {
      margin-right: 0px !important;
    }
  
    #urlbar-input {
      margin-left: 5px !important;
      margin-right: 5px !important;
      font-size: 20px !important;
      
    }
  }
  
  .urlbarView-row-inner {
    border-radius: calc(var(--urlbarView-row-gutter) + var(--toolbarbutton-border-radius));
    display: flex !important;
  }
  
  .urlbarView-title,
  .urlbarView-title-separator,
  .urlbarView-action,
  .urlbarView-url {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  
  .urlbarView-title {
    font-size: 16px !important;
    font-weight: 500 !important;
  }
  
  .urlbarView-url,
  .urlbarView-title-separator::before {
    font-weight: 500 !important;
    color: rgba(215, 215, 215) !important;
  }
  
  .urlbarView-favicon {
    margin-left: 3px !important;
    margin-right: 12px !important;
    padding: 4px !important;
    border-radius: 6px !important;
    transform: scale(1.5) !important;
  }
  
  .urlbarView-row:hover {
    background: transparent !important;
  }
  
  .urlbarView-row:hover .urlbarView-favicon {
    background-color: #f1efe2 !important;
  }
  
  .urlbarView-row:hover .urlbarView-row-inner {
    background: color-mix(in srgb, var(--zen-colors-primary) 30%, #f1efe230) !important;
  }
  
  * {
    --urlbarView-item-inline-padding: 8px !important;
    --urlbarView-item-block-padding: 12px !important;
  }


/* ==URLbar Animation of Loading == */
#urlbar:not([breakout-extend="true"]) {
  /* Unless urlbar is opened */
  .urlbar-input-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(187,187,187,0.7786648106508228) 0%, rgba(134,134,134,0.78) 46%, rgba(187,187,187,0.78) 100%);
    background-size: 200% 100%;
    animation: urlbar-loading-gradient 1s linear reverse infinite;
    animation-play-state: paused;
    opacity: 0;
    transition: opacity 0.25s;
  }
}
&:has(#reload-button[displaystop="true"]) {
  /* When 'Stop' button is shown isntead of 'Reload' */
  .urlbar-input-container::before {
    animation-play-state: running;
    opacity: 1;
  }
}
@keyframes urlbar-loading-gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}
