/* ==== Config ==== */

/*
Feel free to change these values to whatever you want, as long
as they use the correct format.
*/

:root {
  /* Accent color */
  
  --zenarc-accent-color: var(--zen-primary-color);

  /* zenarc translucent blur Effect */
  --translucent-blur-radius: 16px;  /* 0px to disable */

  /* pdf.js */
  --pdfjs-topbar-max-width: 750px; /* use calc(100% - 10px) for max width */

}