/* #urlbar:is([breakout][breakout-extend], [breakout][usertyping][focused]):after {
    top: -6px !important;
  }
  
  .urlbarView-body-inner {
    #urlbar[open] > .urlbarView > .urlbarView-body-outer > & {
      border-top: none !important;
    }
  }
  
  .search-one-offs {
    display: none !important;
  }
  
  #urlbar[breakout-extend="true"] > #urlbar-background {
    background: var(--zenarc-translucent-background) !important;
    backdrop-filter: blur(var(--zenarc-translucent-blur-radius)) brightness(0.2)  !important;
    border-radius: var(--border-radius-medium) !important;
    border-color: transparent !important;
  }
  
  #urlbar[breakout-extend] {
    #identity-permission-box,
    #tracking-protection-icon-container,
  
    #identity-icon-box {
      margin: 5px !important;
      scale: 150%;
      border-radius: 6px !important;
    }
  
    #identity-box {
      margin-right: 0px !important;
    }
  
    #urlbar-input {
      margin-left: 5px !important;
      margin-right: 5px !important;
      font-size: 20px !important;
      
    }
  }
  
  .urlbarView-row-inner {
    border-radius: calc(var(--urlbarView-row-gutter) + var(--toolbarbutton-border-radius));
    display: flex !important;
  }
  
  .urlbarView-title,
  .urlbarView-title-separator,
  .urlbarView-action,
  .urlbarView-url {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  
  .urlbarView-title {
    font-size: 16px !important;
    font-weight: 500 !important;
  }
  
  .urlbarView-url,
  .urlbarView-title-separator::before {
    font-weight: 500 !important;
    color: rgba(215, 215, 215) !important;
  }
  
  .urlbarView-favicon {
    margin-left: 3px !important;
    margin-right: 12px !important;
    padding: 4px !important;
    border-radius: 6px !important;
    transform: scale(1.5) !important;
  }
  
  .urlbarView-row:hover {
    background: transparent !important;
  }
  
  .urlbarView-row:hover .urlbarView-favicon {
    background-color: #f1efe2 !important;
  }
  
  .urlbarView-row:hover .urlbarView-row-inner {
    background: color-mix(in srgb, var(--zen-colors-primary) 30%, #f1efe230) !important;
  }
  
  * {
    --urlbarView-item-inline-padding: 8px !important;
    --urlbarView-item-block-padding: 12px !important;
  } */

/* #browser:has(#urlbar[open][zen-floating-urlbar="true"]) .browserContainer {


    pointer-events: none;


    filter: blur(8px) brightness(70%) saturate(100%) opacity(100%) !important;


    scale: 1.1 !important; 


    }
 #browser .browserContainer {


  transition: all 0.1s ease-in-out !important;


  }  */
/* For moving the URL bar */
#nav-bar {
  margin-top: -5px !important;
  /* Reposition URL Bar*/
  width: 100% !important;
  align-self: center !important;
}

#urlbar-input {
  text-align: center !important;
}

/* Center align */
#urlbar>.urlbar-input-container {
  align-self: center !important;
}

.urlbarView-body-inner {
  #urlbar[open]>.urlbarView>.urlbarView-body-outer>& {
    border-top: none !important;
  }
}

#urlbar:not([open]) {
  transition: opacity ease-in-out 5s;

/*   #urlbar-background {
    background-color: light-dark(color-mix(in srgb, #ffffff 25%, transparent), color-mix(in srgb, #000000 25%, transparent)) !important;
  } */

  #urlbar-zoom-button {
    display: none !important;
  }

  &:not(:hover) {

    #userContext-icons,
    #identity-permission-box,
    #identity-icon-box {
      margin-inline-start: calc(-8px - 2 * var(--urlbar-icon-padding)) !important;
      transform: translateX(100%);
      opacity: 0;
      transition: all 0.1s ease;
    }
  }

  &:hover {

    #userContext-icons,
    #identity-permission-box,
    #identity-icon-box {
      transform: none !important;
    }
  }
}

/* Focus Blur */
#zen-tabbox-wrapper {
  transition: filter 0.1s ease-in-out !important;
}

#browser:has(#urlbar[open]) #zen-tabbox-wrapper {
  filter: blur(4px) brightness(40%) !important;
}

#urlbar[open][zen-floating-urlbar="true"] {
  #urlbar-background {
    margin: -5px !important;
    border: none !important;
    background: var(--zenarc-translucent-background) !important;
    backdrop-filter: blur(var(--zenarc-translucent-blur-radius)) !important;
    border-radius: var(--border-radius-medium) !important;
    border-color: transparent !important;  
  }
  

  #urlbar-container:has(&) {
    border-radius: var(--border-radius-medium) !important;
  }
}

:root:not([zen-compact-mode="true"]) {
  #urlbar[open][zen-floating-urlbar="true"] {
    #urlbar-background {
      backdrop-filter: blur(20px) !important;
    }
  }
}

.urlbarView-row[type="search"] {
  min-height: 50px !important;
}

/* === BUTTONS ABOVE URL BAR === */
#zen-sidebar-top-buttons,
#zen-sidebar-top-buttons-customization-target {
  & toolbarbutton:not(.titlebar-button) {
    margin-top: -4px !important;
    scale: 0.84;
  }
}

#PanelUI-menu-button {
  list-style-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><!-- Generator: Adobe Illustrator 28.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve"><style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;fill:%23FFFFFF;}</style><path class="st0" d="M16,22.2c3.4,0,6.2-2.8,6.2-6.2c0-3.4-2.8-6.2-6.2-6.2c-3.4,0-6.2,2.8-6.2,6.2C9.8,19.4,12.6,22.2,16,22.2z M20.9,16c0,2.7-2.2,4.9-4.9,4.9s-4.9-2.2-4.9-4.9s2.2-4.9,4.9-4.9S20.9,13.3,20.9,16z"/><path class="st0" d="M26.7,16c0,5.9-4.8,10.7-10.7,10.7S5.3,21.9,5.3,16S10.1,5.3,16,5.3S26.7,10.1,26.7,16z M16,24.6c4.8,0,8.6-3.9,8.6-8.6S20.8,7.4,16,7.4S7.4,11.2,7.4,16S11.2,24.6,16,24.6z"/><path class="st0" d="M32,16c0,8.8-7.2,16-16,16S0,24.8,0,16S7.2,0,16,0S32,7.2,32,16z M16,29.1c7.3,0,13.1-5.9,13.1-13.1S23.3,2.9,16,2.9S2.9,8.7,2.9,16S8.7,29.1,16,29.1z"/></svg>') !important;
  margin: 0px !important;

  @media (prefers-color-scheme: light) {
    filter: invert(1);
  }
}

/* === URLBAR animation for loading === */
#urlbar:not([breakout-extend="true"]) {
  /* Unless urlbar is opened */
  .urlbar-input-container::before {
    content: "";
    position: absolute;
    inset: 15%; /* Smaller blob effect */
    background: linear-gradient(
      45deg,
      color-mix(in srgb, var(--zenarc-primary-color) 0%, transparent),
      color-mix(in srgb, var(--zenarc-primary-color) 25%, transparent),
      color-mix(in srgb, var(--zenarc-primary-color) 70%, transparent),
      color-mix(in srgb, var(--zenarc-primary-color) 95%, transparent),
      color-mix(in srgb, var(--zenarc-primary-color) 45%, transparent)
    );
    background-size: 400% 400%;
    filter: blur(30px);
    animation: glowing-gradient 10s infinite linear;
    animation-play-state: paused;
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
  }
}

&:has(#reload-button[displaystop="true"]) {
  /* When 'Stop' button is shown instead of 'Reload' */
  .urlbar-input-container::before {
    animation-play-state: running;
    opacity: 0.7;
  }
}

@keyframes glowing-gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}