* {
  /* Colors */
  --zenarc-primary-color: var(--zenarc-accent-color, rgb(180, 220, 255)) !important;
  --zenarc-colors-primary: color-mix(in srgb, var(--zenarc-primary-color) 50%, black 50%);
  --zenarc-colors-secondary: color-mix(in srgb, var(--zenarc-colors-primary) 20%, white 80%);
  --zenarc-colors-tertiary: color-mix(in srgb, var(--zenarc-primary-color) 2%, white 98%);
  --zenarc-colors-primary-foreground: color-mix(in srgb, var(--zenarc-primary-color) 80%, white 20%);

  @media (prefers-color-scheme: dark) {
    --zenarc-colors-primary: color-mix(in srgb, var(--zenarc-primary-color) 20%, #202020 80%);
    --zenarc-colors-secondary: color-mix(in srgb, var(--zenarc-primary-color) 30%, #202020 70%);
    --zenarc-colors-tertiary: color-mix(in srgb, var(--zenarc-primary-color) 1%, #202020 99%);
    --zenarc-colors-primary-foreground: color-mix(in srgb, var(--zenarc-primary-color) 80%, white 20%);

    @media (-moz-bool-pref: 'zen.theme.color-prefs.colorful') {
      --zenarc-colors-primary: color-mix(in srgb, var(--zenarc-primary-color) 50%, black 50%);
      --zenarc-colors-secondary: color-mix(in srgb, var(--zenarc-primary-color) 40%, black 60%);
      --zenarc-colors-tertiary: color-mix(in srgb, var(--zenarc-primary-color) 15%, black 85%);
      --zenarc-colors-primary-foreground: color-mix(in srgb, var(--zenarc-primary-color) 80%, white 20%);
    }
  }

  /* translucent effect */
  --zenarc-translucent-background: color-mix(in srgb, var(--zenarc-colors-secondary) 85%, transparent);
  --zenarc-translucent-blur-radius: var(--translucent-blur-radius, 10px);

  /* pdf.js */
  --zenarc-pdfjs-topbar-max-width: var(--pdfjs-topbar-max-width, 750px);

}